* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: rubik;
}

.hero__section {
  width: 100%;
  height: 100vh;
  background-color: #1ac073;
  margin-bottom: 100px;
}

.navbar {
  margin-bottom: 120px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .head {
  font-weight: 600;
  font-size: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar__section_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-weight: 100;
}

.navbar__second_section_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: white;
}

.hero__section_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.left__section {
  margin: 25px;
  width: 50%;
}

.left__section h1 {
  margin: 30px;
  color: white;
  font-size: 75px;
  font-weight: 350;
}

.left__section p {
  color: white;
  font-weight: 200;
  margin: 30px;
  width: 50%;
}

.hero__section_search {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 50%;
  margin: 30px;
}

.hero__section_search input {
  padding: 5px;
  border: none;
  outline: none;
  width: 80%;
}

.hero__section_search input[type="text"]::placeholder {
  text-align: left;
  padding-left: 20px;
}

.hero__section_search button {
  width: 20%;
  margin-right: 0;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 0 10px 10px 0;
  color: white;
  background-color: #f3ba00;
}

.cards {
  width: 277px;
  box-shadow: 2.5px 2.5px 2.5px rgba(187, 187, 187, 0.25);
  border-radius: 0 0 10px 10px;
}

.home__kitchen_section {
  margin: 100px;
}

.home__kitchen_section h1 {
  margin-bottom: 50px;
  font-size: 30px;
}

.home__kitchen_items {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.main__img {
  width: 277px;
  height: 250px;
}

.upper__detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.lower__detail {
  display: flex;
  justify-content: space-between;
  margin: 13px;
}

.lower__detail div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.lower__detail div h4,
.lower__detail div img {
  width: 26px;
  height: 20px;
  background: #f7f8fa;
}

.lower__detail div img {
  border-radius: 5px 0 0 5px;
}

.lower__detail div h4 {
  margin-right: 10px;
  border-radius: 0 5px 5px 0;
}

.lower__detail div button {
  padding: 3px;
  font-size: 14px;
  border: none;
  background: #f7f8fa;
  position: relative;
  height: 20px;
}

.lower__detail div button::before,
.lower__detail div button::after {
  content: "";
  width: 4px;
  height: 18px;
  background: #bebebe;
}

.lower__detail div button::before {
  position: absolute;
  left: -4px;
  border-radius: 5px 0 0 5px;
}

.lower__detail div button::after {
  position: absolute;
  right: -4px;
  border-radius: 0 5px 5px 0;
}

.kitchen__card_1::before,
.kitchen__card_5::before,
.kitchen__card_8::before,
.kitchen__card_9::before {
  content: "50%";
  position: absolute;
  color: #101115;
  background-color: #f3ba00;
  font-size: 10px;
  padding: 5px;
  border-radius: 9px 2.5px 2.5px 2.5px;
}

.kitchen__card_3::before,
.kitchen__card_7::before,
.kitchen__card_11::before {
  content: "20%";
  position: absolute;
  color: #101115;
  background-color: #f3ba00;
  font-size: 10px;
  padding: 5px;
  border-radius: 9px 2.5px 2.5px 2.5px;
}
